<div class="auth">
    <div id="LOGIN" data-ng-show="!profile && !showRegister">
        <button id="SWITCH_REGISTER"   data-ng-click="showRegister = true">Register</button>
        <input  id="USERNAME"   data-ng-model="username"        type="text"     placeholder="Username"/>
        <input  id="PASSWORD"   data-ng-model="password"        type="password" placeholder="Password"/>
        <button id="SUBMIT"     data-ng-click="login()">Submit</button>
    </div>
    <div id="REGISTER" data-ng-show="!profile && showRegister">
        <button id="SWITCH_REGISTER"   data-ng-click="showRegister = false">Login</button>
        <input  id="USERNAME"   data-ng-model="username"        type="text" placeholder="Username"/>
        <input  id="PASSWORD"   data-ng-model="password"        type="text" placeholder="Password"/>
        <input  id="PASSWORD2"  data-ng-model="password2"       type="text" placeholder="Confirm Password"/>
        <input  id="NAME_FIRST" data-ng-model="nameFirst"       type="text" placeholder="First Name"/>
        <input  id="NAME_LAST"  data-ng-model="nameLast"        type="text" placeholder="Last Name"/>
        <input  id="EMAIL"      data-ng-model="email"           type="text" placeholder="Email"/>
        <input  id="EMAIL2"     data-ng-model="email2"          type="text" placeholder="Confirm Email"/>
        <button id="SUBMIT"     data-ng-click="register()">Submit</button>
    </div>
    <div id="LOGOUT" data-ng-show="profile">
        <button id="SUBMIT"     data-ng-click="logout()">Logout</button>
        <div>{{profile.identity.name.first}}</div>
    </div>
</div>
