html, body                                                                      {
    display:    block;
    padding:    0px;
    margin:     0px;
    width:      100%;
    height:     100%;
    font-size:  12px;
}


.title {
  font-style:   normal;
  font-weight:  bold;
  font-size:    18px;
}

.block {
  display: block;
  padding: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  .item {
    flex: 1;
  }
}

#TS {
  .title {
    font-size:        14px;
    text-decoration:  underline;
  }
  .field {
    display:      inline-block;
    font-weight:  bold;
    width:        250px;
  }
  .value {
    font-style:   italic;
  }
}

#CRAFTING {
  .title {
    font-size:        14px;
    text-decoration:  underline;
  }
  #ROASTER {
    .field {
      display:      inline-block;
      font-weight:  bold;
      width:        250px;
    }
    .specialities {
      font-style:   italic;
      padding: 0px 2px;
    }
    .value {
      
    }
  }  
}

#CREST {
  .title {
    font-size:        14px;
    text-decoration:  underline;
  }
  .field {
    display:      inline-block;
    font-weight:  bold;
    width:        250px;
  }
  .value {
    font-style:   italic;
  }
}
